<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/LoginForm.css">
</head>
<body>
    <div class="form-container">
        <p class="title">Login Form</p>
        <form class="form" action="/Login" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="username">Email (optional)</label>
                <input type="email" name="email" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="">

            </div>
            <button class="sign">Log in</button>
        </form>

        
        <p class="signup">Don't have an account?
            <a rel="noopener noreferrer" href="/signupForm" class="">Sign up</a>
        </p>
    </div>
</body>
</html>