<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit</title>
    <link rel="stylesheet" href="/stylesheets/LoginForm.css">
</head>
<body>
    <div class="form-container">
        <p class="title">Edit Profile</p>
        <form class="form" action="/updateprofiles" method="post"  enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" name="image" id="#fileInput">
            </div>
            <div class="input-group">
                <label for="username">Name</label>
                <input type="text" value="<%=User.Name%>" name="name" id="username" placeholder="">
            </div>
         
            <div class="input-group">
                <label for="password">Bio</label>
                <input type="text" value="<%=User.bio%>" name="Bio" id="password" placeholder="">

            </div>
            <button class="sign">Edit Now</button>
        </form>


    </div>
</body>
</html>