@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{

    text-decoration-line: none  !important;
}
nav {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

nav ul,
nav ul li {
	outline: 0;
}


body {
	font-family: "Nunito", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #212140;
	width: 100%;
}

/* MAIN MENU */

main {
    display: flex;
	min-height: 100vh;
	margin: 10px 40px;
	width: 100%;
	background: rgb(254, 254, 254);
	box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
	0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	z-index: 10;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
    flex-wrap: wrap;
    width: 250px;
	transition: all 1s ease-in-out;
	background: rgb(73, 57, 113);
	border-radius: 15px 0 0 15px;
	font-family: "Roboto", sans-serif;
}

/* profile styles  start  */


.profile{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile a{
    color: #e7f045;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: .5px;
}
.profile img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.main-menu .profile h4 {
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	margin: 10px 0 10px;
	color: #fff;
	font-family: "Nunito", sans-serif;
}
.profile p{
    color: white;
    font-size: .9rem;
	text-align: center;
    width: 90%;
}


/* profile styles  End  */



.Main-content{
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

/* Notes styles start  */

.Main-content .NotesList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 60px;
    margin-top: 30px;
    width: 100%;
}
.Main-content .card {
    padding: 1rem;
    width: 300px; 
	display: flex;
	flex-direction: column;
	align-items: center;
    height: auto; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    flex-shrink: 0; 
	-webkit-border-radius: 50px;
border-radius: 17px;
background: #D1D8EC;
-webkit-box-shadow: 4px 4px 14px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12
}
.Main-content .NotesList div{
	margin-bottom: 20px;
}

.Main-content .NotesList .card p{
	color: #3e2183;
	font-size: 14px;
	margin: 4px 0;
	font-weight: 500;
}
.Main-content .NotesList h4{
	font-size: 19px;
	font-weight: 400;
}
.Main-content .NotesList .card-btn{
	margin-top: 20px;
	gap: 20px;
	display: flex;

}
.Main-content .NotesList h1{
	text-transform: capitalize;
	font-size: 22px;
	display: inline-block;
	font-weight: 600;
}

/* Notes styles end  */

/* Delete button start   */


.delete-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(20, 20, 20);
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: relative;
  }
  
  .delete-svgIcon {
	width: 15px;
	transition-duration: 0.3s;
  }
  
  .delete-svgIcon path {
	fill: white;
  }
  
  .delete-button:hover {
	width: 90px;
	border-radius: 50px;
	transition-duration: 0.3s;
	background-color: rgb(255, 69, 69);
	align-items: center;
  }
  
  .delete-button:hover .delete-svgIcon {
	width: 20px;
	transition-duration: 0.3s;
	transform: translateY(60%);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
  }
  
  .delete-button::before {
	display: none;
	content: "Delete";
	color: white;
	transition-duration: 0.3s;
	font-size: 2px;
  }
  
  .delete-button:hover::before {
	display: block;
	padding-right: 10px;
	font-size: 13px;
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 0.3s;
  }


/* Delete button end   */

/* Edit button start  */

.edit-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(20, 20, 20);
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: relative;
	text-decoration: none !important;
  }
  
  .edit-svgIcon {
	width: 17px;
	transition-duration: 0.3s;
  }
  
  .edit-svgIcon path {
	fill: white;
  }
  
  .edit-button:hover {
	width: 120px;
	border-radius: 50px;
	transition-duration: 0.3s;
	background-color: rgb(255, 69, 69);
	align-items: center;
  }
  
  .edit-button:hover .edit-svgIcon {
	width: 20px;
	transition-duration: 0.3s;
	transform: translateY(60%);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
  }
  
  .edit-button::before {
	display: none;
	content: "Edit";
	color: white;
	transition-duration: 0.3s;
	font-size: 2px;
  }
  
  .edit-button:hover::before {
	display: block;
	padding-right: 10px;
	font-size: 13px;
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 0.3s;
  }
  


/* Edit button start 
 */


/* header styles start  */

.Main-content header {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
}
.Main-content h3{
	font-size: 22px;
	color: rgba(150, 93, 233, 1);
	font-weight: 900;
}
header img{
	height: 40px;
	object-fit: cover;
	width: 40px;
	border-radius: 50%;
	display: none;
}
.cencel{
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}
.main-menu .cencel svg{
	height: 25px;
	width: 25px;
}

/* header styles end  */



/* Nav Button End   */

.nav-item {
	position: relative;
	display: block;
}

ul li{
	list-style-type:  none; ;
}
ul li:nth-of-type(1){
	margin-top: 50px;
}
.nav-item .button {
	position: relative;
	overflow: hidden;
	height: 3rem;
	font-size: .9rem;
	margin-top: 10px;
	padding: 0 2rem;
	border-radius: 1.5rem;
	font-family: "Mulish", sans-serif;
	background: transparent;
	background-size: 400%;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
.nav-item  .button:hover::before {
	transform: scaleY(1);
  }
  
.nav-item  .button-content {
	position: relative;
	z-index: 1;
  }

 .nav-item .button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(
	  82.3deg,
	  rgba(150, 93, 233, 1) 10.8%,
	  rgba(99, 88, 238, 1) 94.3%
	);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
 .nav-item .button:active {
	scale: 0.9;
  }
 .nav-item .nav-item:nth-of-type(1){
    margin-top: 60px;
}


/* Nav Button End   */



/* Adding notes Button start   */

header .button {
	position: relative;
	width: 150px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid rgba(150, 93, 233, 1);
	background-color: rgba(150, 93, 233, 1);
  }
  
 header .button,header .button__icon,header .button__text {
	transition: all 0.3s;
  }
  
 header .button .button__text {
	transform: translateX(30px);
	color: #fff;
	font-weight: 600;
  }
  
 header .button .button__icon {
	position: absolute;
	transform: translateX(109px);
	height: 100%;
	width: 39px;
	background-color: #3e2183;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
 header .button .svg {
	width: 30px;
	stroke: #fff;
  }
  
header  .button:hover {
	background: rgba(150, 93, 233, 1);
  }
  
 header .button:hover .button__text {
	color: transparent;
  }
  
 header .button:hover .button__icon {
	width: 148px;
	transform: translateX(0);
  }
  
header  .button:active .button__icon {
	background-color: #3e2183;
  }
  
 header .button:active {
	border: 1px solid #3e2183;
  }

/* Adding notes Button start   */


/* logout btn   */


.Btn {
	margin-bottom: 40px;
	--black: #000000;
	--ch-black: #141414;
	--eer-black: #1b1b1b;
	--night-rider: #2e2e2e;
	--white: #ffffff;
	--af-white: #f3f3f3;
	--ch-white: #e1e1e1;
	display: flex;
	align-items: center;
	margin-top: 30px;
	justify-content: flex-start;
	width: 125px;
	height: 45px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	/* overflow: hidden; */
	transition: all 1s ease-out;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: var(--af-white);
  }
  
  /* plus sign */
  .sign {
	width: 100%;
	display: flex;
	padding-left: 20px;
	align-items: center;
	justify-content: center;
  }
  .Btn:hover{
	background: red;
  }
  .Btn:hover .text{
	color: white;
  }

  .sign svg {
	width: 17px;
  }
  
  .sign svg path {
	fill: var(--night-rider);
  }
  .text {
	width: 70%;
	opacity: 1;
	color: var(--night-rider);
	padding-right: 20px;
	transition: all 0.7s ease-out;
	font-size: 1.2em;
	font-weight: 600;

  }




/* Media Queries   */

@media screen and (max-width: 899px) {
.Main-content .card{
	width: 250px;
}
.Main-content .NotesList .card p{
	font-size: 12px !important;
}
.Main-content .NotesList h4{
	font-size: 15px;
}
.Main-content .NotesList .card-btn{
	margin-top: 20px;
	gap: 15px;
	display: flex;

}
.Main-content .NotesList h1{
	font-size: 18px;
}
}
@media screen  and (max-width: 476px) {

.main-menu {
	position: absolute;
	z-index: 10;
	display: none;
}
header img{
	display: inline-block;
}
header{
	flex-direction: column;
}
header div{
	display: flex;
	align-items: center;
	gap: 60px;
}
header .button{
	margin-top: 30px;
}
.cencel{
	display: inline;
}
}

@media screen  and (max-width: 298px) {
	.Main-content .NotesList {
		margin-left: 20px;}

}